In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Make a reference to the books.csv file path
csv_path = "Resources/election_data.csv"

# Import the election_data.csv file as a DataFrame
election_data_df = pd.read_csv(csv_path, encoding="utf-8")
election_data_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [8]:
# Establish the total number of votes cast
total_votes = election_data_df["Voter ID"].count()
print (total_votes)

3521001

In [3]:
# Establish a complete list of candidates who received votes
candidates = (election_data_df["Candidate"].unique())
print (candidates)

['Khan' 'Correy' 'Li' "O'Tooley"]

In [5]:
# Place all of the data found into a summary DataFrame
summary_table = pd.DataFrame({"All Candidates": candidates})
summary_table

  All Candidates
0           Khan
1         Correy
2             Li
3       O'Tooley

In [9]:
# Count how many votes have been entered for each candidate
candidate_votes = election_data_df["Candidate"].value_counts()
candidate_votes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [26]:
# Calculate the percentage of votes each candidate won
percentage_votes = (candidate_votes / total_votes) * 100 "{0:.2f}%".format(percentage_votes * 100)
percentage_votes

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64